version: "3.8"

services:
  facilita-agro-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./data:/app/data
      - ./outputs:/app/outputs
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
