services:
  facilita-agro-api:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:8000"
    volumes:
      - ./:/app
      - ./data:/app/data
      - ./outputs:/app/outputs
    env_file:
      - .env
    environment:
      - PYTHONUNBUFFERED=1
    command: [ "uvicorn", "api.main:app", "--host", "0.0.0.0", "--port", "8000", "--reload" ]
